.about{
    padding: 3rem 0;
}
.about-content{
    gap: 4rem;
}
.about-title{
    margin: 1rem 0;
}
.about-img img{
    max-width: 520px;
}
.about-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
}

.publish-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  max-width: 800px;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-field label {
  font-weight: 500;
  margin-bottom: 5px;
}

textarea {
  resize: vertical;
}

.checkbox-field {
  grid-column: span 2;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.publish-btn {
  grid-column: span 2;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


@media screen and (min-width: 800px){
    .about-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-title{
        margin-top: 0;
    }
    .about-img img{
        margin-left: 0;
    }
}